/**
 * @file
 */

@media screen and (min-width: 1280px) {
  .form--optionset.b-tooltip .form-wrapper--responsive {
    min-width: 640px;
    padding-top: 15px;
  }

  .form--optionset
    .form-wrapper--responsive
    .form-item
    input:not(.form-checkbox),
  .form--optionset .form-wrapper--responsive .form-item select {
    width: 80px;
  }
}
