/**
 * @file
 */

.elevatezoomplus-wrapper,
.elevatezoomplus-wrapper *,
.elevatezoomplus-wrapper *::before,
.elevatezoomplus-wrapper *::after {
  box-sizing: border-box;
}

.elevatezoomplus-stage {
  min-height: 180px;
}

.elevatezoomplus {
  margin-right: auto;
  margin-left: auto;
}

.elevatezoomplus-wrapper--on .slick__arrow,
.elevatezoomplus-wrapper--on .slick-dots,
.elevatezoomplus-wrapper--on .splide__arrows,
.elevatezoomplus-wrapper--on .splide__pagination {
  z-index: 1001;
}

/** This is all we need to integrate with any lightbox. */
.ZoomContainer {
  pointer-events: none;
}

/** The library adds position: absolute, making it collapsed without width. */
.zoomWrapper .elevatezoomplus {
  width: 100%;
}
